<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Blaster Builder</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink" align="right"><a href="#" id="changePasswordLink">Change Password</a></div>
  </nav>

  <section id="makeBuild">

  </section>
  <section id="builds">

  </section>

  <div id="changePasswordModal" class="modal hidden">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Change Password</h2>
      <form id="changePasswordForm">
        <label for="current">Current Password:</label>
        <label for="pass1">New Password:</label>
        <label for="pass2">Confirm New Password:</label>
        <input type="password" id="current" name="current">
        <input type="password" id="pass1" name="pass1">
        <input type="password" id="pass2" name="pass2">
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

  <script src="/assets/appBundle.js"></script>

</body>

</html>