<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Blaster Builder</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/login">
        <img src="/assets/img/logo.png" width="64px" height="64px">
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/logout">
            <strong>Log Out</strong>
          </a>
          <a class="button is-danger" href="" id="changePassword">
            <strong>Change Password</strong>
          </a>
        </div>
      </div>
    </div>
    </div>
  </nav>

  <section id="modal-root">
  </section>

  <div class = "box has-background-dark has-text-light" id="makebuildbox">
    <section id="makeBuild"></section>
  </div>
  

  </section>
  <section id="builds">

  </section>

  <div id="changePasswordModal" class="modal hidden">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Change Password</h2>
      <form id="changePasswordForm">
        <label for="current">Current Password:</label>
        <label for="pass1">New Password:</label>
        <label for="pass2">Confirm New Password:</label>
        <input type="password" id="current" name="current">
        <input type="password" id="pass1" name="pass1">
        <input type="password" id="pass2" name="pass2">
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

  <script src="/assets/appBundle.js"></script>

</body>

</html>