<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Blaster Builder</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/login">
        <img src="/assets/img/logo.png" width="32px" height="32px">
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <section id = "switch"></section>
          <a class="button is-primary" href="/logout">
            <strong>Log Out</strong>
          </a>
          <section id="changePassword">
          </section>
        </div>
      </div>
    </div>
    </div>
  </nav>

  <section id="modal-root">
  </section>

  <div class = "box has-background-dark has-text-light" id="makebuildbox">
    <section id="makeBuild"></section>
  </div>
  

  </section>
  <section id="builds">

  </section>


  <script src="/assets/appBundle.js"></script>

</body>

</html>