@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


#biglogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Modal styles */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
.modal-content {
	width: 500px;
	background-color: #fff;
}

.modal-header, modal-footer {
	padding: 10px;
}

.modal-title {
	margin: 0;
}

.modal-body {
	padding: 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}